<div class="border p-2">
    <h3 class="text-center">Directive Component</h3>

    <input type="number" [(ngModel)]="num" />

    <div [style.color]="num%2==0 ? 'green':'red'">{{num%2==0 ? "Even" : "odd"}}</div>
    <div [style.fontSize.px]='num%2==0 ?48:24'>{{num%2==0 ? "Even" : "odd"}}</div>

    <div [ngClass]="{'myClass1': num%2==0, 'myClass2': num%2!=0}">Add css class conditionally</div>
    <br />

    <button [ngClass]="['btn', 'btn-sm', num%2==0  ? 'btn-success':'']">Add Class dynamically-1</button>
    <button [ngClass]="['btn', 'btn-sm', num%2==0  ? 'btn-danger':'']">Add Class dynamically-2</button>


    @if(num%2 == 0){
    <div>{{num}} is Even</div>
    }@else{
    <div>{{num}} is Odd</div>
    }

    @switch (num) {
    @case (1) { <div>Today is Monday</div> }
    @case (2) { <div>Today is Tuesday</div> }
    @case (3) { <div>Today is Wednesday</div> }
    @case (4) { <div>Today is Thursday</div> }
    @case (5) { <div>Today is Friday</div> }
    @case (6) { <div>Today is Saturday</div> }
    @case (7) { <div>Today is Sunday</div> }
    @default { <div>Not a Valid number</div>}
    }

    Country DropDown: <br />
    <select [(ngModel)]="selectedCountry">
        @for(country of country_list;track $index){
        <option>{{country}}</option>
        }
    </select>
    <div>Selected Country is:: {{selectedCountry}}</div>

    <div>
        if() vs [hidden]

        @if(flag){
        <h3>This is Paragraph-1</h3>
        }
        <h3 [hidden]="!flag">This is Paragraph-2</h3>
        <button class="btn btn-secondary" (click)="flag = !flag">Toggle</button>

        <table class="table table-bordered table-striped" [hidden]="!flag">
            <tbody>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
                <tr>
                    <td>data-1</td>
                    <td>data-2</td>
                    <td>data-3</td>
                    <td>data-4</td>
                    <td>data-5</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-borderd table-striped">
            <thead>
                <th>Sl No</th>
                <th>id</th>
                <th>name</th>
                <th>salary</th>
                <th>gender</th>
                <th>isFirst</th>
                <th>isLast</th>
                <th>isEven</th>
                <th>isOdd</th>
            </thead>
            <tbody>
                @for(emp of employees;track emp.eId){
                <tr>
                    <td>{{$index}}</td>
                    <td>{{emp.eId}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.sal}}</td>
                    <td>{{emp.gender}}</td>
                    <td>{{$first}}</td>
                    <td>{{$last}}</td>
                    <td>{{$even}}</td>
                    <td>{{$odd}}</td>
                </tr>
                }@empty {
                No Employees
                }
            </tbody>
        </table>
        <button class="btn btn-primary" (click)="addNewEmp()">Add New Emp</button>

        <table class="table table-bordered table-striped">
            <thead>
                <th>id</th>
                <th>name</th>
                <th>salary</th>
                <th>gender</th>
            </thead>
            <tbody>
                @for (emp of employees; track emp) {
                <tr>
                    <td>{{emp.eId}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.sal}}</td>
                    <td>{{emp.gender}}</td>
                </tr>
                }
            </tbody>
        </table>

    </div>

    <h3 highlight>Number Only Custom Directive</h3>
    <div>
        <input type="text" numberonly />
    </div>
    <div>
        <button class="btn btn-primary m-2" backbutton>Back</button>
        <button class="btn btn-primary">forward</button>
        <button class="btn btn-primary" appTooltip="'Some ToolTip Text...'">button with tooltip</button>
    </div>
</div>