<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://th.bing.com/th/id/OIP.-C677lwRlXXTluA_pP0vtgHaEK?w=272&h=180&c=7&r=0&o=5&pid=1.7" class="d-block car-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://wallpaperaccess.com/full/3169357.jpg" class="d-block car-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/OIP.18TcfO1UXrap18NvnXf6cgHaEK?w=252&h=180&c=7&r=0&o=5&pid=1.7" class="d-block car-img" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-dark car-button-left" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="visually-hidden">Next</span>
        <span class="carousel-control-next-icon bg-dark car-button-right" aria-hidden="true"></span>
    </button>
  </div>