<app-navbar></app-navbar>
<app-categories></app-categories>
<app-carousel></app-carousel>
<app-toggle-paragraph></app-toggle-paragraph>
<app-char-counter></app-char-counter>
<app-state-dropdown></app-state-dropdown>
<app-calculator></app-calculator>
<app-toggle-input></app-toggle-input>
<app-counter></app-counter>
<app-user-list></app-user-list>
<app-employee-crud></app-employee-crud>
<app-pipeordinal></app-pipeordinal>
<p>Birthdate: 1990-04-15</p>
<p>Age: {{ '1990-04-15' | age }}</p>
<app-employee></app-employee>
<app-employee-app></app-employee-app>
