
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://png.pngtree.com/thumb_back/fw800/background/20230518/pngtree-two-red-ferraris-sitting-parked-in-an-indoor-location-image_2573851.jpg"
          class="d-block w-100 img-fluid custom-size" alt="ferari">
      </div>
      <div class="carousel-item">
        <img src="https://cdn07.carsforsale.com/CustomTemplatePhotos/113458/photos/ss1.41a51997.jpg"
          class="d-block w-100 img-fluid custom-size" alt="Lambo">
      </div>
      <div class="carousel-item">
        <img src="https://www.newvehiclevideos.com/photos/2020/Toyota/Supra/header-slide2.jpg"
          class="d-block w-100 img-fluid custom-size" alt="old cars">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
 
  