<div
  class="d-flex justify-content-center align-items-center"
  style="height: 15vh"
>
  <h1 class="mt-3">Employee Details</h1>
</div>

<div class="container" *ngIf="isTrue; else condition2">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let user of users">
      <div class="card" style="width: 18rem">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>ID: </b>{{ user.id }}</li>
          <li class="list-group-item"><b>Name: </b>{{ user.name }}</li>
          <li class="list-group-item"><b>Email: </b>{{ user.email }}</li>
          <li class="list-group-item">
            <b>Address: </b>
            {{ user.address.street }}, {{ user.address.suite }},
            {{ user.address.city }}, {{ user.address.zipcode }}
          </li>
          <li class="list-group-item"><b>Phone: </b> {{ user.phone }}</li>
          <li class="list-group-item"><b>Website: </b>{{ user.website }}</li>
          <li class="list-group-item">
            <b>Company Name: </b> {{ user.company.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #condition2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Street Address:</th>
        <th scope="col">City</th>
        <th scope="col">Zipcode</th>
        <th scope="col">Phone</th>
        <th scope="col">Website</th>
        <th scope="col">Company Name</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr>
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address.street }}, {{ user.address.suite }},</td>
        <td>{{ user.address.city }}</td>
        <td>{{ user.address.zipcode }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.website }}</td>
        <td>{{ user.company.name }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>

<div class="d-flex justify-content-center mt-5">
  <div class="form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="flexSwitchCheckChecked"
      (click)="onToggleClick()"
      checked
    />
    <label class="form-check-label" for="flexSwitchCheckChecked">Switch</label>
  </div>
</div>
