<div class="container mt-4">
    <!-- Toggle Button -->
    <button class="btn btn-primary mb-4" (click)="toggleView()">
      Toggle View ({{ displayAsCard ? 'Table' : 'Card' }})
    </button>
  
    <!-- Card View -->
    <div *ngIf="displayAsCard" class="row">
      <div *ngFor="let user of users" class="col-md-4 mb-4">
        <div class="card shadow-sm border-0 h-100">
          <div class="card-body">
            <h5 class="card-title">{{ user.name }}</h5>
            <p class="card-text">
              <strong>Email:</strong> {{ user.email }}<br>
              <strong>Phone:</strong> {{ user.phone }}<br>
              <strong>Website:</strong> <a href="http://{{ user.website }}" target="_blank">{{ user.website }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Table View -->
    <div *ngIf="!displayAsCard" class="table-responsive">
      <table class="table table-striped table-bordered shadow-sm">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td><a href="http://{{ user.website }}" target="_blank">{{ user.website }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  