<div class="border p-2 body">
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directive></app-directive> -->
  <!-- <app-user-list></app-user-list> -->
  <!-- <app-users></app-users> -->
  <!-- <app-demo1></app-demo1> -->
  <!-- <app-pipe></app-pipe> -->
  <!-- <app-my-modal>
      <img src="https://t4.ftcdn.net/jpg/03/08/69/75/360_F_308697506_9dsBYHXm9FwuW0qcEqimAEXUvzTwfzwe.jpg" class="d-block w-100" alt="...">
    </app-my-modal> -->
  <!-- <app-my-modal>
      <div id="modalTitle">
        Title From Parent
      </div>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </app-my-modal> -->

  <!-- <app-parent></app-parent> -->
  <!-- <app-traffic></app-traffic> -->
<!-- 
  @if(flag){
  <app-demo1></app-demo1>
  }@else{
  <app-demo2></app-demo2>
  }
  <button (click)="flag=!flag">Toggle</button> -->

<!-- <app-math1></app-math1>
<app-math2></app-math2> -->

<!-- <app-product-list></app-product-list> -->
 <!-- <app-employee-crud></app-employee-crud> -->
 <!-- <app-http-demo1></app-http-demo1> -->
  <app-observable-demo1></app-observable-demo1>
</div>