<h3 class="text-center">User Details Component</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-4">
            <div class="card">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/000/439/863/small/Basic_Ui__28186_29.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">{{user.username}}</h5>
                    <p class="card-text">{{user.id}}</p>
                    <p class="card-text">{{user.name}}</p>
                    <p class="card-text">{{user.email}}</p>
                    <p class="card-text">{{user.address.city}}</p>
                    <p class="card-text">{{user.phone}}</p>
                </div>
            </div>
        </div>
    </div>
</div>