<button
  type="button"
  class="btn btn-success"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal1"
>
  Add Employee
</button>

<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">Add User</h1>
        <button
          (click)="clearForm()"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="p-3 border rounded">
          <div class="form-group">
            <label for="uId">UId:</label>
            <input
              type="text"
              id="uId"
              name="uId"
              class="form-control"
              [(ngModel)]="uId"
            />
          </div>

          <div class="form-group">
            <label for="name">Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              [(ngModel)]="name"
            />
          </div>

          <div class="form-group">
            <label for="age">Age:</label>
            <input
              type="number"
              id="age"
              name="age"
              class="form-control"
              [(ngModel)]="age"
            />
          </div>

          <div class="form-group">
            <label for="gender">Gender:</label>
            <select
              id="gender"
              name="gender"
              class="form-control"
              [(ngModel)]="gender"
            >
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="clearForm()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onAddUser()"
          (click)="clearForm()"
          data-bs-dismiss="modal"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
