<div>
  <!-- <app-navbar></app-navbar>
  <app-categories></app-categories>
  <app-carousel></app-carousel>

  <div class="text-center mb-2">
    <h1 class="display-4 font-weight-bold text-primary mt-1 mb-1">
      ShowPassword Feature
    </h1>
  </div>
  <app-blurpassword></app-blurpassword>

  <div class="text-center mb-2">
    <h1 class="display-4 font-weight-bold text-primary mt-1 mb-1">
      Number Of Characters Remaing
    </h1>
  </div>
  <app-textarea></app-textarea>

  <div class="text-center mb-2">
    <h1 class="display-4 font-weight-bold text-primary mt-1 mb-1">
      Calculator
    </h1>
  </div>
  <app-arithematicoperations></app-arithematicoperations>

  <div class="text-center mb-2">
    <h1 class="display-4 font-weight-bold text-primary mt-1 mb-1">
      StateDropdown
    </h1>
  </div>
  <app-statedropdown></app-statedropdown>

  <div class="text-center mb-2">
    <h1 class="display-4 font-weight-bold text-primary mt-1 mb-1">
      ToggleParagraph
    </h1>
  </div>
  <app-toggleparagraph></app-toggleparagraph>

  <div class="text-center mb-2">
    <h1 class="display-4 font-weight-bold text-primary mt-1 mb-1">Counter</h1>
  </div>
  <app-counter></app-counter> 
  <app-card></app-card>-->
  <!-- <app-productlist></app-productlist>
    -->
  <!-- <app-crudcomponent></app-crudcomponent> -->
  <!-- <app-star-rating></app-star-rating> -->
  <!-- <app-pipes-component></app-pipes-component> -->
  <!-- <app-user-crud></app-user-crud> -->
  <!-- <app-employeeservice> </app-employeeservice> -->
  <!-- <app-users-crud></app-users-crud> -->
  <!-- <app-display-data></app-display-data> -->
  <!-- <app-test></app-test> -->

  <!-- <app-folderexplorer></app-folderexplorer> -->
  <app-form></app-form>
</div>
