<h3 class="text-center">Model Driven Form</h3>

<form [formGroup]="registerForm" (submit)="submitMyForm(registerForm)" class="border p-2 offset-4 col-4" >
    <div>
        First Name : <input formControlName="firstName" />
        <span class="text-danger" *ngIf="registerForm.controls['firstName'].hasError('required')">FirstName is Required</span>
        <span class="text-danger" *ngIf="registerForm.controls['firstName'].hasError('minlength')">FirstName Should have minimum 5 chars</span>
    </div>
    <div>
        Last Name : <input formControlName="lastName" />
    </div>
    <div>
        Email: <input formControlName="email" />
    </div>
    <div formGroupName="address">
        <div>
            city : <input formControlName="city" />
        </div>
        <div>
            state : <input formControlName="state" />
        </div>
        <div>
            pin : <input formControlName="pin" />
        </div>
    </div>
    <input type="submit" value="submit" [disabled]="registerForm.invalid">
    <input type="reset" value="clear" class="mx-1">
</form>
<pre>
    {{registerForm.value | json}}
</pre>